torch
torchvision
accelerate

pillow
uvicorn
fastapi
pydantic_settings
slowapi
python-multipart
packaging
tenacity


sentencepiece
fastapi
uvicorn
pydantic-settings
huggingface-hub
openai
torch
packaging  # Added to resolve flash-attn dependency
#flash-attn

torchaudio
onnx==1.16.2
onnxruntime==1.21.0
uvicorn
fastapi
pydub
python-multipart
hf_xet
soundfile
transformers

matplotlib
vocos
torchdiffeq
librosa
x_transformers
jieba
pypinyin
wandb
ema_pytorch
datasets
numpy==1.26.4